embedded-steampunk-part1/azuredeploy.json
{
    "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "workflows_SAPApprovalFromEmbeddedSteampunk_name": {
            "defaultValue": "SAPApprovalFromEmbeddedSteampunk",
            "type": "String"
        },
        "connections_teams_name": {
            "defaultValue": "teams",
            "type": "String"
        }
    },
    "variables": {},
    "resources": [
        {
            "type": "Microsoft.Logic/workflows",
            "apiVersion": "2017-07-01",
            "name": "[parameters('workflows_SAPApprovalFromEmbeddedSteampunk_name')]",
            "location": "[resourceGroup().location]",
            "properties": {
                "state": "Enabled",
                "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion": "1.0.0.0",
                    "parameters": {
                        "$connections": {
                            "defaultValue": {},
                            "type": "Object"
                        },
                        "Steampunk-OData-URL": {
                            "defaultValue": "https://your-steampunk-domain.abap.eu20.hana.ondemand.com/sap/opu/odata4/sap/zevent_ui_booking_04_100/srvd/sap/zevent_ui_booking_100/0001",
                            "type": "String"
                        },
                        "Steampunk-Username": {
                            "defaultValue": "BOOKING_APPROVER",
                            "type": "SecureString"
                        },
                        "Steampunk-Userpwd": {
                            "defaultValue": "",
                            "type": "SecureString"
                        },
                        "teams-user-email": {
                            "defaultValue": "sapuser@contoso.com",
                            "type": "String"
                        }
                    },
                    "triggers": {
                        "manual": {
                            "type": "Request",
                            "kind": "Http",
                            "inputs": {
                                "method": "POST",
                                "schema": {
                                    "items": {
                                        "properties": {
                                            "%CONTROL": {
                                                "properties": {
                                                    "AGENCYID": {
                                                        "type": "string"
                                                    },
                                                    "BEGINDATE": {
                                                        "type": "string"
                                                    },
                                                    "BOOKINGFEE": {
                                                        "type": "string"
                                                    },
                                                    "CREATEDAT": {
                                                        "type": "string"
                                                    },
                                                    "CREATEDBY": {
                                                        "type": "string"
                                                    },
                                                    "CURRENCYCODE": {
                                                        "type": "string"
                                                    },
                                                    "CUSTOMERID": {
                                                        "type": "string"
                                                    },
                                                    "DESCRIPTION": {
                                                        "type": "string"
                                                    },
                                                    "ENDDATE": {
                                                        "type": "string"
                                                    },
                                                    "LASTCHANGEDAT": {
                                                        "type": "string"
                                                    },
                                                    "LASTCHANGEDBY": {
                                                        "type": "string"
                                                    },
                                                    "LOCALLASTCHANGEDAT": {
                                                        "type": "string"
                                                    },
                                                    "OVERALLSTATUS": {
                                                        "type": "string"
                                                    },
                                                    "TOTALPRICE": {
                                                        "type": "string"
                                                    },
                                                    "TRAVELID": {
                                                        "type": "string"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "AGENCYID": {
                                                "type": "integer"
                                            },
                                            "BEGINDATE": {
                                                "type": "string"
                                            },
                                            "BOOKINGFEE": {
                                                "type": "integer"
                                            },
                                            "CREATEDAT": {
                                                "type": "number"
                                            },
                                            "CREATEDBY": {
                                                "type": "string"
                                            },
                                            "CURRENCYCODE": {
                                                "type": "string"
                                            },
                                            "CUSTOMERID": {
                                                "type": "integer"
                                            },
                                            "DESCRIPTION": {
                                                "type": "string"
                                            },
                                            "ENDDATE": {
                                                "type": "string"
                                            },
                                            "LASTCHANGEDAT": {
                                                "type": "number"
                                            },
                                            "LASTCHANGEDBY": {
                                                "type": "string"
                                            },
                                            "LOCALLASTCHANGEDAT": {
                                                "type": "number"
                                            },
                                            "OVERALLSTATUS": {
                                                "type": "string"
                                            },
                                            "TOTALPRICE": {
                                                "type": "integer"
                                            },
                                            "TRAVELID": {
                                                "type": "integer"
                                            }
                                        },
                                        "required": [
                                            "TRAVELID",
                                            "AGENCYID",
                                            "CUSTOMERID",
                                            "BEGINDATE",
                                            "ENDDATE",
                                            "BOOKINGFEE",
                                            "TOTALPRICE",
                                            "CURRENCYCODE",
                                            "DESCRIPTION",
                                            "OVERALLSTATUS",
                                            "CREATEDBY",
                                            "CREATEDAT",
                                            "LASTCHANGEDBY",
                                            "LASTCHANGEDAT",
                                            "LOCALLASTCHANGEDAT",
                                            "%CONTROL"
                                        ],
                                        "type": "object"
                                    },
                                    "type": "array"
                                }
                            }
                        }
                    },
                    "actions": {
                        "Condition": {
                            "actions": {
                                "Approve_Travel_Booking_via_SAP_Embedded_Steampunk": {
                                    "runAfter": {},
                                    "type": "Http",
                                    "inputs": {
                                        "authentication": {
                                            "password": "@parameters('Steampunk-Userpwd')",
                                            "type": "Basic",
                                            "username": "@parameters('Steampunk-Username')"
                                        },
                                        "body": {
                                            "OverallStatus": "A"
                                        },
                                        "cookie": "@variables('sap-cookie')",
                                        "headers": {
                                            "Content-Type": "application/json",
                                            "If-Match": "@{outputs('Get_CSRF_token_and_ETag_for_received_Booking')['headers']?['ETag']}",
                                            "X-CSRF-token": "@{outputs('Get_CSRF_token_and_ETag_for_received_Booking')['headers']?['x-csrf-token']}"
                                        },
                                        "method": "PATCH",
                                        "uri": "@{parameters('Steampunk-OData-URL')}/BOOKING(TravelID='@{body('Select_booking_and_parse_JSON')?['TRAVELID']}',IsActiveEntity=true)"
                                    }
                                },
                                "Condition_approval_success": {
                                    "actions": {
                                        "Post_approval_notification_in_a_chat_or_channel": {
                                            "runAfter": {},
                                            "type": "ApiConnection",
                                            "inputs": {
                                                "body": {
                                                    "messageBody": "<p>Travel (@{body('Select_booking_and_parse_JSON')?['TRAVELID']}) approved :-)</p>",
                                                    "recipient": "@parameters('teams-user-email')"
                                                },
                                                "host": {
                                                    "connection": {
                                                        "name": "@parameters('$connections')['teams']['connectionId']"
                                                    }
                                                },
                                                "method": "post",
                                                "path": "/beta/teams/conversation/message/poster/Flow bot/location/@{encodeURIComponent('Chat with Flow bot')}"
                                            }
                                        }
                                    },
                                    "runAfter": {
                                        "Approve_Travel_Booking_via_SAP_Embedded_Steampunk": [
                                            "Succeeded"
                                        ]
                                    },
                                    "else": {
                                        "actions": {
                                            "Post_approval_error_message_in_a_chat_or_channel": {
                                                "runAfter": {},
                                                "type": "ApiConnection",
                                                "inputs": {
                                                    "body": {
                                                        "messageBody": "<p>Error (Code @{outputs('Approve_Travel_Booking_via_SAP_Embedded_Steampunk')['statusCode']}) on approval request:<br>\n<br>\n@{body('Approve_Travel_Booking_via_SAP_Embedded_Steampunk')}</p>",
                                                        "recipient": "@parameters('teams-user-email')"
                                                    },
                                                    "host": {
                                                        "connection": {
                                                            "name": "@parameters('$connections')['teams']['connectionId']"
                                                        }
                                                    },
                                                    "method": "post",
                                                    "path": "/beta/teams/conversation/message/poster/Flow bot/location/@{encodeURIComponent('Chat with Flow bot')}"
                                                }
                                            }
                                        }
                                    },
                                    "expression": {
                                        "and": [
                                            {
                                                "equals": [
                                                    "@outputs('Approve_Travel_Booking_via_SAP_Embedded_Steampunk')['statusCode']",
                                                    200
                                                ]
                                            }
                                        ]
                                    },
                                    "type": "If"
                                }
                            },
                            "runAfter": {
                                "Select_SAP_Cookie_for_PATCH": [
                                    "Succeeded"
                                ]
                            },
                            "else": {
                                "actions": {
                                    "Condition_reject_success": {
                                        "actions": {
                                            "Post_rejection_notification_in_a_chat_or_channel": {
                                                "runAfter": {},
                                                "type": "ApiConnection",
                                                "inputs": {
                                                    "body": {
                                                        "messageBody": "<p>Travel (@{body('Select_booking_and_parse_JSON')?['TRAVELID']}) rejected :-(</p>",
                                                        "recipient": "@parameters('teams-user-email')"
                                                    },
                                                    "host": {
                                                        "connection": {
                                                            "name": "@parameters('$connections')['teams']['connectionId']"
                                                        }
                                                    },
                                                    "method": "post",
                                                    "path": "/beta/teams/conversation/message/poster/Flow bot/location/@{encodeURIComponent('Chat with Flow bot')}"
                                                }
                                            }
                                        },
                                        "runAfter": {
                                            "Reject_Travel_Booking_via_SAP_Embedded_Steampunk": [
                                                "Succeeded"
                                            ]
                                        },
                                        "else": {
                                            "actions": {
                                                "Post_reject_error_message_in_a_chat_or_channel": {
                                                    "runAfter": {},
                                                    "type": "ApiConnection",
                                                    "inputs": {
                                                        "body": {
                                                            "messageBody": "<p>Error (Code @{outputs('Reject_Travel_Booking_via_SAP_Embedded_Steampunk')['statusCode']}) on approval request:<br>\n<br>\n@{body('Reject_Travel_Booking_via_SAP_Embedded_Steampunk')}</p>",
                                                            "recipient": "@parameters('teams-user-email')"
                                                        },
                                                        "host": {
                                                            "connection": {
                                                                "name": "@parameters('$connections')['teams']['connectionId']"
                                                            }
                                                        },
                                                        "method": "post",
                                                        "path": "/beta/teams/conversation/message/poster/Flow bot/location/@{encodeURIComponent('Chat with Flow bot')}"
                                                    }
                                                }
                                            }
                                        },
                                        "expression": {
                                            "and": [
                                                {
                                                    "equals": [
                                                        "@outputs('Reject_Travel_Booking_via_SAP_Embedded_Steampunk')['statusCode']",
                                                        200
                                                    ]
                                                }
                                            ]
                                        },
                                        "type": "If"
                                    },
                                    "Reject_Travel_Booking_via_SAP_Embedded_Steampunk": {
                                        "runAfter": {},
                                        "type": "Http",
                                        "inputs": {
                                            "authentication": {
                                                "password": "@parameters('Steampunk-Userpwd')",
                                                "type": "Basic",
                                                "username": "@parameters('Steampunk-Username')"
                                            },
                                            "body": {
                                                "OverallStatus": "R"
                                            },
                                            "cookie": "@variables('sap-cookie')",
                                            "headers": {
                                                "Content-Type": "application/json",
                                                "If-Match": "@{outputs('Get_CSRF_token_and_ETag_for_received_Booking')['headers']?['ETag']}",
                                                "X-CSRF-token": "@{outputs('Get_CSRF_token_and_ETag_for_received_Booking')['headers']?['x-csrf-token']}"
                                            },
                                            "method": "PATCH",
                                            "uri": "@{parameters('Steampunk-OData-URL')}/BOOKING(TravelID='@{body('Select_booking_and_parse_JSON')?['TRAVELID']}',IsActiveEntity=true)"
                                        }
                                    }
                                }
                            },
                            "expression": {
                                "and": [
                                    {
                                        "equals": [
                                            "@body('Parse_JSON')?['submitActionId']",
                                            "approve"
                                        ]
                                    }
                                ]
                            },
                            "type": "If"
                        },
                        "Get_CSRF_token_and_ETag_for_received_Booking": {
                            "runAfter": {
                                "Parse_JSON": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Http",
                            "inputs": {
                                "authentication": {
                                    "password": "@parameters('Steampunk-Userpwd')",
                                    "type": "Basic",
                                    "username": "@parameters('Steampunk-Username')"
                                },
                                "headers": {
                                    "X-CSRF-Token": "Fetch"
                                },
                                "method": "GET",
                                "uri": "@{parameters('Steampunk-OData-URL')}/BOOKING(TravelID='@{body('Select_booking_and_parse_JSON')?['TRAVELID']}',IsActiveEntity=true)"
                            }
                        },
                        "Parse_JSON": {
                            "runAfter": {
                                "Post_adaptive_card_and_wait_for_a_response": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ParseJson",
                            "inputs": {
                                "content": "@body('Post_adaptive_card_and_wait_for_a_response')",
                                "schema": {
                                    "properties": {
                                        "messageId": {
                                            "type": "string"
                                        },
                                        "messageLink": {
                                            "type": "string"
                                        },
                                        "responder": {
                                            "properties": {
                                                "displayName": {
                                                    "type": "string"
                                                },
                                                "email": {
                                                    "type": "string"
                                                },
                                                "objectId": {
                                                    "type": "string"
                                                },
                                                "tenantId": {
                                                    "type": "string"
                                                },
                                                "userPrincipalName": {
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "responseTime": {
                                            "type": "string"
                                        },
                                        "submitActionId": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        },
                        "Post_adaptive_card_and_wait_for_a_response": {
                            "runAfter": {
                                "Select_booking_and_parse_JSON": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ApiConnectionWebhook",
                            "inputs": {
                                "body": {
                                    "body": {
                                        "messageBody": "{\n    \"type\": \"AdaptiveCard\",\n    \"$schema\": \"http://adaptivecards.io/schemas/adaptive-card.json\",\n    \"version\": \"1.4\",\n    \"body\": [\n        {\n            \"type\": \"TextBlock\",\n            \"text\": \"New Travel booking request from SAP S/4HANA Embedded Steampunk\",\n            \"wrap\": true,\n\"weight\": \"bolder\",\n            \"size\":\"large\"\n        },\n {\n                    \"type\": \"ActionSet\",\n                    \"actions\": [\n                        {\n                            \"type\": \"Action.OpenUrl\",\n                            \"title\": \"View Booking in SAP S/4HANA\",\n                            \"url\": \"https://your-steampunk-domain.com/sap/bc/adt/businessservices/odatav4/feap?feapParams=your-feap-params&sap-ui-language=EN&sap-client=100#/BOOKING('@{body('Select_booking_and_parse_JSON')?['TRAVELID']}')\",\n                            \"id\": \"openBooking\"\n                        }\n                    ]\n                },\n        {\n            \"type\": \"FactSet\",\n            \"facts\": [\n                {\n                    \"title\": \"Travel ID\",\n                    \"value\": \"@{body('Select_booking_and_parse_JSON')?['TRAVELID']}\"\n                },\n                {\n                    \"title\": \"Total Price\",\n                    \"value\": \"@{body('Select_booking_and_parse_JSON')?['TOTALPRICE']} @{body('Select_booking_and_parse_JSON')?['CURRENCYCODE']}\"\n                },\n                {\n                    \"title\": \"Description\",\n                    \"value\": \"@{body('Select_booking_and_parse_JSON')?['DESCRIPTION']}\"\n                },\n                {\n                    \"title\": \"From - To\",\n                    \"value\": \"@{formatDateTime(body('Select_booking_and_parse_JSON')?['BEGINDATE'],'MMM dd yyyy')} - @{formatDateTime(body('Select_booking_and_parse_JSON')?['ENDDATE'],'MMM dd yyyy')}\"\n                }\n            ]\n        }\n    ],\n    \"actions\": [\n        {\n            \"type\": \"Action.Submit\",\n\"id\":\"approve\",\n            \"title\": \"Approve\"\n        },\n        {\n            \"type\": \"Action.Submit\",\n            \"title\": \"Reject\",\n            \"id\": \"reject\"\n        }\n    ]\n}",
                                        "recipient": {
                                            "to": "@parameters('teams-user-email')"
                                        },
                                        "updateMessage": "Thanks for your response!"
                                    },
                                    "notificationUrl": "@{listCallbackUrl()}"
                                },
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['teams']['connectionId']"
                                    }
                                },
                                "path": "/v1.0/teams/conversation/gatherinput/poster/Flow bot/location/@{encodeURIComponent('Chat with Flow bot')}/$subscriptions"
                            }
                        },
                        "Select_SAP_Cookie_for_PATCH": {
                            "runAfter": {
                                "Get_CSRF_token_and_ETag_for_received_Booking": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "sap-cookie",
                                        "type": "string",
                                        "value": "@{replace(outputs('Get_CSRF_token_and_ETag_for_received_Booking')['headers']['Set-Cookie'],',',';')}"
                                    }
                                ]
                            }
                        },
                        "Select_booking_and_parse_JSON": {
                            "runAfter": {},
                            "type": "ParseJson",
                            "inputs": {
                                "content": "@triggerBody()[0]",
                                "schema": {
                                    "properties": {
                                        "%CONTROL": {
                                            "properties": {
                                                "AGENCYID": {
                                                    "type": "string"
                                                },
                                                "BEGINDATE": {
                                                    "type": "string"
                                                },
                                                "BOOKINGFEE": {
                                                    "type": "string"
                                                },
                                                "CREATEDAT": {
                                                    "type": "string"
                                                },
                                                "CREATEDBY": {
                                                    "type": "string"
                                                },
                                                "CURRENCYCODE": {
                                                    "type": "string"
                                                },
                                                "CUSTOMERID": {
                                                    "type": "string"
                                                },
                                                "DESCRIPTION": {
                                                    "type": "string"
                                                },
                                                "ENDDATE": {
                                                    "type": "string"
                                                },
                                                "LASTCHANGEDAT": {
                                                    "type": "string"
                                                },
                                                "LASTCHANGEDBY": {
                                                    "type": "string"
                                                },
                                                "LOCALLASTCHANGEDAT": {
                                                    "type": "string"
                                                },
                                                "OVERALLSTATUS": {
                                                    "type": "string"
                                                },
                                                "TOTALPRICE": {
                                                    "type": "string"
                                                },
                                                "TRAVELID": {
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "AGENCYID": {
                                            "type": "integer"
                                        },
                                        "BEGINDATE": {
                                            "type": "string"
                                        },
                                        "BOOKINGFEE": {
                                            "type": "integer"
                                        },
                                        "CREATEDAT": {
                                            "type": "number"
                                        },
                                        "CREATEDBY": {
                                            "type": "string"
                                        },
                                        "CURRENCYCODE": {
                                            "type": "string"
                                        },
                                        "CUSTOMERID": {
                                            "type": "integer"
                                        },
                                        "DESCRIPTION": {
                                            "type": "string"
                                        },
                                        "ENDDATE": {
                                            "type": "string"
                                        },
                                        "LASTCHANGEDAT": {
                                            "type": "number"
                                        },
                                        "LASTCHANGEDBY": {
                                            "type": "string"
                                        },
                                        "LOCALLASTCHANGEDAT": {
                                            "type": "number"
                                        },
                                        "OVERALLSTATUS": {
                                            "type": "string"
                                        },
                                        "TOTALPRICE": {
                                            "type": "integer"
                                        },
                                        "TRAVELID": {
                                            "type": "integer"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "outputs": {}
                },
                "parameters": {
                    "$connections": {
                        "value": {
                            "teams": {
                                
                                "connectionId": "[resourceId('Microsoft.Web/connections', parameters('connections_teams_name'))]",
                                "connectionName": "[parameters('connections_teams_name')]",
                                "id": "[concat('/subscriptions/',subscription().subscriptionId,'/providers/Microsoft.Web/locations/',resourceGroup().location,'/managedApis/teams')]"
                            }
                        }
                    }
                }
            }
        },
        {
            "type": "Microsoft.Web/connections",
            "apiVersion": "2016-06-01",
            "name": "[parameters('connections_teams_name')]",
            "location": "[resourceGroup().location]",
            "kind": "V2",
            "properties": {
                "displayName": "teams",
                "api": {
                    "id": "[concat('/subscriptions/',subscription().subscriptionId,'/providers/Microsoft.Web/locations/',resourceGroup().location,'/managedApis/teams')]",
                    "type": "Microsoft.Web/locations/managedApis"
                }
            }
        }
    ]
}